<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sentiment Analysis with VADER</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <style>
      .star-rating {
        font-size: 24px;
        color: gold;
      }
    </style>
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="text-center">Sentiment Analysis with VADER</h1>
      <form id="reviewForm" class="mt-4">
        <div class="form-group">
          <textarea
            name="review"
            class="form-control"
            rows="4"
            placeholder="Paste your review here..."
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Analyze Sentiment</button>
      </form>
      <h2 id="result" class="mt-4"></h2>
      <div id="starRating" class="star-rating mt-2"></div>
    </div>

    <script>
      document.getElementById("reviewForm").onsubmit = async function (event) {
        event.preventDefault(); // Prevent form submission
        const formData = new FormData(this);
        const response = await fetch("/analyze", {
          method: "POST",
          body: formData,
        });
        const result = await response.json();
        const score = (result.score.compound + 1) * 2.5; // Scale score to 0.0 - 5.0
        document.getElementById("result").innerText = `Sentiment: ${
          result.sentiment
        } \n ${score.toFixed(2)}`;
        document.getElementById("starRating").innerHTML = getStarRating(score);
      };

      function getStarRating(score) {
        let stars = "";
        for (let i = 0; i < 5; i++) {
          if (score >= (i + 1) * 1) {
            stars += '<i class="fas fa-star"></i>'; // Full star
          } else if (score >= i + 0.5) {
            stars += '<i class="fas fa-star-half-alt"></i>'; // Half star
          } else {
            stars += '<i class="far fa-star"></i>'; // Empty star
          }
        }
        return stars;
      }
    </script>
  </body>
</html>
